<div class="container">
	<div class="row">
		<h4 data-i18n="viewLogin.login"></h4>
		<div class="input-group input-group-icon">
			<input type="email" id="username" data-i18n="[placeholder]viewLogin.username" />
			<div class="input-icon">
				<i class="fa fa-envelope"></i>
			</div>
			<span class="help-block hidden"></span>
		</div>
		<div class="input-group input-group-icon">
			<input type="password" id="password" data-i18n="[placeholder]viewLogin.password" />
			<div class="input-icon">
				<i class="fa fa-key"></i>
			</div>
			<span class="help-block hidden"></span>
		</div>
		<div class="input-group button">
			<input id="login" type="button" data-i18n="[value]viewLogin.login" />
		</div>
		<div class="col-half">
			<div class="input-group textleft link">
				<span data-i18n="viewLogin.register"></span>
			</div>
		</div>
		<div class="col-half">
			<div class="input-group textright link">
				<span data-i18n="viewLogin.forgotPassword"></span>
			</div>
		</div>
	</div>
</div>