<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Welcome to garage</title>
<link href="http://cdn.rawgit.com/cornflourblue/angular-registration-login-example/master/app-content/app.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
				<div ui-view="loginView"></div>
            </div>
        </div>
    </div>
	<div ng-view="contacts"></div>
	<a ui-sref="login">Login</a>
	<div ng-translate-language-select></div>


	<!-- div ng-app="OwlCarouselCtrl" ng-cloak-->
	<div ng-view="carousel"></div>

	<ng-controller ng-controller="carousel">
		<ng-owl-carousel class="owl-theme" owl-items="items" owl-properties="properties" owl-ready="ready($api)">
		    <img class="owl-lazy" style="padding: 5px;" data-ng-repeat="item in items" data-src="img/text-{{item}}.png">
		</ng-owl-carousel>
	</ng-controller>

	<div ng-owl-carousel></div>
	<div ng-owl-carousel></div>
	<script type="text/ng-template" id="carousel.html">
  		<div class="owl-carousel owl-theme" style="background-color: #212121;">
        	<div class="carousel-item carousel-background" ng-repeat="item in [1, 2, 3, 4, 5, 6]" ng-style="{'background-image': 'url({{images[$index]}})'}"></div>
  		</div> 
	</script>
	<!-- /div-->
	
	<script src="js/libs/requirejs/require.js" data-main="js/main"></script>
</body>
</html>